h1{
color: rgb(41, 87, 14)

}

body{
background-color: rgb(248, 241, 195);

}

p{
text-align:left;
font-size: large;
color: rgb(17, 5, 29);


}



#salao{
    width: 600px;
    height: 400px;
}






